body {
	background-color: #272c34;
	display: block;
	max-width: 100%;
	margin: 0 auto;
	font-size: 16px;
}

/* navigation bar styles */
body nav.navbar {
	background-color: #1976d2 !important;
}

a.navbar-brand,
a.nav-item {
	color: #eee !important;
}

button.btn,
button.btn-secondary {
	background-color: #dc004e !important;
	border-color: #dc004e;
	box-shadow: none !important;
	width: 140px;
}

/* container styles */
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	overflow: auto;
}

/* about, rules, game-modes modal styles */
section.about,
section.rules,
section.game-modes {
	display: block;
	text-align: center;
	font-size: 1.5rem;
	width: 350px;
}

#githubRepoLink {
	color: #eee;
}

ul {
	width: 50%;
	margin: 20px auto;
	list-style: none;
}

p {
	margin-bottom: 0;
}

.modal-content .modal-header {
	background-color: #dc004e;
	border-bottom: none;
	color: #eee;
}

.modal-content .close {
	color: #eee;
}

.modal-content .modal-body,
.controlsTable {
	background-color: #272c34;
	color: #eee;
}

#controlsModal .controlsTableHeader {
	border-top: none;
}

#controlsModal .modal-body {
	padding: 0;
}

/* toolbar button styles */
.btn-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.btn-toolbar {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* game mode button styles */
.easy-mode-btn,
.medium-mode-btn,
.hard-mode-btn,
.veryHard-mode-btn {
	display: block;
	font-size: 1.2rem;
	border-radius: 15px 50px;
	width: 200px;
	height: 50px;
	margin: 10px auto;
	outline: none;
	box-shadow: 3px 3px 5px 1px #ccc;
}

.easy-mode-btn {
	background-color: #76ff03;
}

.medium-mode-btn {
	background-color: #ffa000;
}

.hard-mode-btn {
	background-color: #ff5722;
}

.veryHard-mode-btn {
	background-color: #dd2c00;
}

/* canvas styles */
canvas {
	display: block;
	margin: 20px auto 10px auto;
}

/* scoreboard styles */
#scoreBoard {
	max-width: 900px;
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 1px;
}

#scoreBoard thead th {
	background-color: #dc004e;
	border-bottom: none;
	color: white;
}

#scoreBoard th {
	border-top: none;
}

#scoreBoard tr {
	color: white;
}

#scoreBoard tr td {
	border-top: none;
}

/* theme styles */
#themeOne-container,
#themeTwo-container,
#themeThree-container {
	height: 40px;
}

.pastelColorContainer {
	border: 1px solid #eee;
	display: block;
	width: 30%;
	height: 15px;
}

#pastelOneRadio-color-1 {
	background-color: #2a9d8fff;
	margin-left: 15px;
}
#pastelOneRadio-color-2 {
	background-color: #e76f51ff;
}
#pastelOneRadio-color-3 {
	background-color: #264653ff;
}

#pastelTwoRadio-color-1 {
	background-color: #a8dadcff;
	margin-left: 15px;
}
#pastelTwoRadio-color-2 {
	background-color: #e63946ff;
}
#pastelTwoRadio-color-3 {
	background-color: #1d3557ff;
}

#pastelThreeRadio-color-1 {
	background-color: #fcbf49ff;
	margin-left: 15px;
}
#pastelThreeRadio-color-2 {
	background-color: #d62828ff;
}
#pastelThreeRadio-color-3 {
	background-color: #003049ff;
}

#pastelDefaultRadio-color-1 {
	background-color: #1976d2;
	margin-left: 15px;
}
#pastelDefaultRadio-color-2 {
	background-color: #dc004e;
}
#pastelDefaultRadio-color-3 {
	background-color: #272c34;
}
