body {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	font-size: 16px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	overflow: auto;
}

section.about,
section.rules,
section.game-modes {
	display: block;
	text-align: center;
	font-size: 1.5rem;
	width: 350px;
}

ul {
	width: 50%;
	margin: 20px auto;
	list-style: none;
}

p {
	margin-bottom: 0;
}

.btn-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.easy-mode-btn,
.medium-mode-btn,
.hard-mode-btn,
.veryHard-mode-btn {
	display: block;
	font-size: 1.2rem;
	border-radius: 15px 50px;
	width: 200px;
	height: 50px;
	margin: 10px auto;
	outline: none;
	box-shadow: 3px 3px 5px 1px #ccc;
}

.easy-mode-btn {
	background-color: #76ff03;
}

.medium-mode-btn {
	background-color: #ffa000;
}

.hard-mode-btn {
	background-color: #ff5722;
}

.veryHard-mode-btn {
	background-color: #dd2c00;
}

canvas {
	background: #eee;
	display: block;
	margin: 50px auto;
}
