body {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	font-size: 16px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	overflow: auto;
}

section.about,
section.rules,
section.game-modes {
	display: block;
	text-align: center;
	font-size: 1.5rem;
	width: 300px;
}

ul {
	width: 50%;
	margin: 0 auto;
	list-style: none;
}

p {
	margin-bottom: 0;
}

canvas {
	background: #eee;
	display: block;
	margin: 50px auto;
}
